<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Demos - activate</title>
    <link rel="stylesheet" href="/lib/animate.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="activate_box animated zoomInDown">
        <h1 class="activate_h1">感谢您使用Demos，您已成功激活账户：<%- mail %>。</h1>
        <a href="/" class="button">进入Demos</a>
    </div>
    <script src="/js/common.js"></script>
</body>
</html>