<!DOCTYPE html>
<!-- 本产品由 Berwin 独立开发 -->
<!-- 开发者邮箱：berwin1995@qq.com -->
<!-- 开源地址：https://github.com/berwin/demos -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Demos - Collaborative JavaScript Debugging</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="js,html,css,demo" />
    <meta name="description" content="一个写demo的web工具" />
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="code"></div>
    <div id="statusBar">
        <p>本产品由 Berwin 独立开发</p>
        <div id="btn_menu" title="ctrl+m">历史</div>
        <div id="save" title="ctrl+s">保存</div>
        <div id="browse"><a href="/<%- data._id %>/result" target="_blank">浏览</a></div>
        <div id="btn_preview" title="ctrl+alt+p">实时预览</div>
    </div>
<script src="/lib/sea.js"></script>
<script src="/lib/jquery-1.8.3.min.js"></script>
<script src="/lib/ace/ace.js"></script>
<script src="/lib/ace/ext-statusbar.js"></script>
<script src="/lib/ace/emmet.js"></script>
<script src="/lib/ace/ext-emmet.js"></script>
<script src="/lib/toastr/toastr.min.js"></script>

<script>
    seajs.use( '/js/edit.js' );
</script>


<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F45357aa314b5e74f49f3641677d1f409' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>