<!DOCTYPE html>
<!-- 本产品由 Berwin 独立开发 -->
<!-- 开发者邮箱：berwin1995@qq.com -->
<!-- 开源地址：https://github.com/berwin/demos -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Demos - Collaborative JavaScript Debugging</title>
    <meta name="keywords" content="js,html,css,demo" />
    <meta name="description" content="一个写demo的web工具" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="index_head">
        <h1 class="hue">demos 一个开源的Web开发调试工具</h1>
        <h2>Here, you can enjoy, fun programming</h2>
    </div>
    <div class="index_box">
        <a href="/html" class="button hue">create html</a>
        <a href="/js" class="button hue">create js</a>
    </div>
<script>
    if (window.console) window.console.log('本产品由 Berwin 独立开发\n开发者邮箱：berwin1995@qq.com\n开源地址：https://github.com/berwin/demos');
</script>
</body>
</html>