<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demos</title>
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css">
    <link rel="stylesheet" href="/lib/animate.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="register">
        <pre>
            <code>
    <span class="doctype">&lt;!DOCTYPE html&gt;</span>
    <span class="label">&lt;html&gt;</span>
    <span class="label">&lt;head&gt;</span>
        <span class="label">&lt;meta <span class="attribute">charset</span>="<span class="value">utf-8</span>"&gt;</span>
        <span class="label">&lt;title&gt;</span>注册 | Demos<span class="label">&lt;/title&gt;</span>
        <span class="label">&lt;meta <span class="attribute">name</span>="<span class="value">description</span>" <span class="attriblue">content</span>="<span class="value">一切只因为Demos</span>"&gt;</span>
    <span class="label">&lt;/head&gt;</span>
    <span class="label">&lt;body&gt;</span>
        <span class="label">&lt;form <span class="attribute">action</span>="<span class="value">/register</span>" <span class="attribute">name</span>="<span class="value">register</span>" <span class="attribute">method</span>="<span class="value">post</span>"&gt;</span>
            <span class="label">&lt;input</span> <span class="attribute">value</span><span class="label">="</span><input type="email" id="email" placeholder="请输入邮箱" /><span class="label">" </span><span class="attribute">type</span><span class="label">="</span><span class="value">email</span><span class="label">" </span><span class="attribute">name</span><span class="label">="</span><span class="value">email</span><span class="label">"&gt;</span>
            <span class="label">&lt;input</span> <span class="attribute">value</span><span class="label">="</span><input type="password" id="password" placeholder="请输入密码" /><span class="label">" </span><span class="attribute">type</span><span class="label">="</span><span class="value">password</span><span class="label">" </span><span class="attribute">name</span><span class="label">="</span><span class="value">password</span><span class="label">"&gt;</span>
            <span class="label">&lt;input <span class="attribute">value</span>="<a href="javascript:;" id="btn">点击注册</a>" <span class="attribute">type</span>="<span class="value">button</span>"&gt;</span>
        <span class="label">&lt;/form&gt;</span>
    <span class="label">&lt;/body&gt;</span>
    <span class="label">&lt;/html&gt;</span>
            </code>
        </pre>
    </div>
<script src="/lib/sea.js"></script>
<script src="/lib/jquery-1.8.3.min.js"></script>
<script src="/lib/toastr/toastr.min.js"></script>
<script>
    seajs.use( '/js/register.js' );
</script>
</body>
</html>