@charset "utf-8";
body{padding:0;margin:0;}
a{text-decoration:none;}
/* edit */
#code{margin: 0;position: absolute;top: 0;bottom: 20px;left: 0;right: 0;}
#statusBar,.ace_status-indicator{font:12px/20px '';color:#ccc;height:20px;position:absolute;right: 0;}
#statusBar {left: 0;bottom: 0;background-color:rgb(23, 23, 23);}
#statusBar div{padding:0 10px;float:left;}
#statusBar div a{color:#ccc;}
#statusBar #save{cursor:pointer;}

/* index */
.cd_btn{display:inline-block;background:#3c3c3c;color:#fff;width:220px;height:60px;font:24px/60px '';text-align:center;border-radius:6px;position:absolute;left:50%;top:50%;margin:-30px 0 0 -110px;}