<div id="menu" class="none">
    <div class="p20_0 tc"><img id="avatar" src="/images/avatar.png" alt="" /></div>
    <div id="account">
        <div id="login_after" class="none">
            <div id="login_after_btn">
                <p><a href="javascript:;" id="change_link">修改密码</a></p>
                <p><a href="javascript:;" id="btn_signOut">退出登录</a></p>
            </div>
            <div id="changePw" class="none">
                <p><input type="password" id="change_pw" placeholder="password" /></p>
                <p><button id="btn_changePw">修改密码</button></p>
                <div class="acc_link_box clearfix">
                    <a href="javascript:;" class="backHome fr">返回</a>
                </div>
            </div>
        </div>
        <div id="login_before">
            <div id="login">
                <p><input type="mail" id="mail" placeholder="Email" /></p>
                <p><input type="password" id="password" placeholder="password" /></p>
                <p><button id="btn_login">登陆</button></p>
                <p class="acc_link_box clearfix">
                    <a href="javascript:;" class="register_link fl">注册</a>
                    <a href="javascript:;" class="retrieve_link fr">找回密码</a>
                </p>
            </div>
            <div id="register" class="none">
                <p><input type="mail" id="register_mail" placeholder="Email" /></p>
                <p><input type="password" id="register_password" placeholder="password" /></p>
                <p><button id="btn_register">注册</button></p>
                <p class="acc_link_box clearfix">
                    <a href="javascript:;" class="login_link fl">登陆</a>
                    <a href="javascript:;" class="retrieve_link fr ">找回密码</a>
                </p>
            </div>
            <div id="retrieve" class="none">
                <p><input type="mail" id="retrieve_mail" placeholder="Email" /></p>
                <p><button id="btn_retrieve">找回密码</button></p>
                <p class="acc_link_box clearfix">
                    <a href="javascript:;" class="login_link fl">登陆</a>
                    <a href="javascript:;" class="register_link fr">注册</a>
                </p>
            </div>
        </div>
    </div>
    <dl class="history" class="mt20">
        <dt>
            <h1>历史记录</h1>
        </dt>
        <dd id="history"></dd>
    </dl>
</div>