<% include ../common/header %>
    <div id="code"></div>
    <div id="statusBar">
        <p>本产品由 Berwin 独立开发</p>
        <div id="btn_menu" title="ctrl+m">菜单</div>
        <div id="save" title="ctrl+s">保存</div>
        <div id="btn_preview" title="ctrl+alt+p">实时预览</div>
        <div id="browse"><a href="/result/<%- data._id %>" target="_blank">浏览</a></div>
    </div>
    <% include ../common/menu %>
<% include ../common/footer %>
<script src="/dist/bundle.html.js"></script>
</body>
</html>